body{
    background-color:#8aa8b3;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-position: 50%;
    background-size: 135cm 90cm;
}

tr:nth-child(even){

    font-weight: bold;
    background-color: #ddd;

}

th, td {

    font-family: 'century gothic';
    padding: 5;

}

h4 {
    font-family: 'century gothic';
    font-weight: bold;
    color: white;
    padding: 20px;
    margin: 10px 0px;
    width: 200;
    background-color: #04304D;
}


h3 {
    padding: 20px;
    margin: 100px -300px;
    width: 100;
    font-family: 'century gothic';
    text-align: center;
    color:  white;
    font-weight: bold;
    background-color: #E82C2C;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

h1 {
    text-align: center;
    background-color: #565d67;
    background-position: 50%;
    font-family: 'century gothic';
    color:white;
    font-weight: bold;
    width: 700;
    padding: 50px;
    margin: -10px -300px;
    background-repeat:no-repeat ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}


table{

    background-color: white;
    text-align: left;
    width: 100%;
    border-collapse: collapse;;
}

input:focus{
    background-color: yellow;
}

